* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ui-monospace;
  background: #ffffff;
  color: #000000;

}

.main-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

