* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

html, body {
  background: #ffffff;
  color: #000000;
}

.main-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

