@import "../../styles/theme.css";

.flap {
   display: inline-block;
   width: 140px;
   height: 100%;
  background-color: var(--split-flap-color-shell-bg);
   border-radius: 4px;
   position: relative;

   --clip-split: 51%;
}

.unfold_top, .unfold_bottom, .fold_top, .fold_bottom {
  background-color: var(--split-flap-color-panel-bg);
  color: var(--split-flap-color-text);
   border-radius: 4px;

   /* ensure constant position */
   position: absolute;
   --flap-border-size: 5%;
   top: var(--flap-border-size);
   left: var(--flap-border-size);
   bottom: var(--flap-border-size);
   right: var(--flap-border-size);
}


.unfold_bottom, .fold_bottom {
  clip-path: inset(var(--clip-split) 0 0 0);
}

.unfold_top, .fold_top {
  clip-path: inset(0 0 var(--clip-split) 0);
}

.unfold_top_text_offset, .unfold_bottom_text_offset, .fold_top_text_offset, .fold_bottom_text_offset {
   /* ensure constant position */
   position: absolute;
   --flap-text-offset: 10%;
   top: var(--flap-text-offset);
   left: var(--flap-text-offset);
   bottom: var(--flap-text-offset);
   right: var(--flap-text-offset);

   /* since char height can be higher, center it using flexbox  */
   display: flex;
   justify-content: center;
   align-items: center;
}


.char {
   display: inline-block;
   white-space: nowrap;
}